{
    "endOfLine": "lf",
    "printWidth": 100,
    "semi": false,
    "tabWidth": 1,
    "useTabs": false,
    "singleQuote": true,
    "bracketSpacing": false,
    "trailingComma": "es5",
    "arrowParens": "always",
    "bracketSameLine": true
}